#signup-page-bg {

}

#login-container {


}

#signup-form-title {

}

#membi-logo {

}

.form-item {
    height: 81px;
}

.form-item label {
    color: white;
}

.form-item-input {
    height: 52px;
}

.signup-form-submit {
}

#signup-submit-btn {

}

#login-svg-link > svg {
}

#login-account {

}

#login-button {
}